---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Victoria Assouan" description="About Victoria Assouan">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Discover my background and my skills."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Victoria Assouan with friend at seeds of the future  "
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						After obtain my high school diploma from prestigious high school, I chose to pursue
						higher education in computer science.I enrolled in a bilingual university of excellence
						where I eanerd my bachelor degree in computer science.
					</p>
					<p>
						During my time at the university, I gained a solid theoretical and practical foundation.
						I completed several IT projects, participated in hackathons on many topics , and traveled, 
						which allowed me to gain valuable experience.
					</p>
					<p>
						What sets me apart is my ability to adapt to new environments and learn new things
						 and new technologies.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bachelor degree in computer science , Huawei Cerficate </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Autonomous,Organized,Voluntary,Curios,Creative,Versatile,Team spirit,Watchfull</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
